<div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center text-primary">About Us</h3>
                        <h4 class="text-center">Bhagwan Mahaveer Institute Of Engineering and Technology</h4>
                    </div>
                </div>
                <div class="row">
                
                
                    <div class="col-md-6">
                        <img src="../assets/images/DIRECTOR.jpg"
                        class="img-quadrata center-block" >
                        <h3 class="text-center" >Dr. R. P. Jain
                        <br/>
                        <small> Director of B.M.I.E.T </small></h3> <p>Founder Director- Principal of C.R. State College Of Engineering, Murthal, Haryana Government Institution. He was deeply involved in the planning and execution of various development activities of the college. He has the teaching experience of 24 years (UG & PG) at B.I.T.S., Pilani. He has been the Chairperson, Board of Studies in Engineering in Guru Jambeshwar University, Hisar and Maharishi Dayanand University</p>
                    </div>
                    <div class="col-md-6">
                        <img src="../assets/images/drharish.jpg"
                        class="center-block img-quadrata" >
                        <h3 class="text-center" >Dr. Harish Mittal
                        <br/>
                        <small> Ph.D. (CSE), M.Tech. (IT) , B.E. (CSE) </small></h3> <p>Dr. Harish Mittal has completed his Ph.D. in Software Engineering from Guru Jambheswar University of Science &amp; Technology, Hisar. He is a renowned name in the field of technical education and has a rich experience of over 15 years. He has guided many research scholars to complete their projects and thesis in the field of software engineering and information technology.</p>
                    </div>
                </div>
</div>